 * {
     margin: 0;
     padding: 0;
 }


 img {
     width: 100%;
 }

 main {
     max-width: 1200px;
     margin: 0 auto;
 }




 /** Video **/
 iframe {
     width: 100vw;
     height: 56.25vw;
     max-width: 1200px;
     max-height: 675px;
 }


 /**** footer ****/
 footer {
     display: flex;
     justify-content: center;
     background-color: white;
     max-width: 1200px;
     margin: 0 auto 50px;
 }

 footer img {
     max-width: 300px;
     margin: 0 0 0 0;
 }

 section {
     margin: 0 0 50px 0;
 }

 #headercontent {
     height: 72px;
     display: flex;
     max-width: 1200px;
     margin: 0 auto;
     background-color: white;
 }

 #headerlogo {
     align-self: center;
     font-family: "bree-serif", serif;
     font-weight: 600;
     font-size: 2.5rem;
     color: #093a82;
     padding-left: 20px;
 }

 h2 {
     align-self: center;
     font-family: "bree-serif", serif;
     font-weight: 600;
     font-size: 1rem;
     color: #9c9e9f;
     padding-left: 10px;
 }

 #bar_1 {
     background-color: #fac177;
     height: 20px;
     width: 1200px;
 }

 #bar_2 {
     background-color: #bee0d9;
     height: 20px;
     width: 1200px;
 }

 #bar_3 {
     background-color: #093a82;
     height: 20px;
     width: 1200px;
 }
